*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

html {
   width: 100vw;
   min-height: 100vh;
}

#bodyWrap {
   width: 100vw;
   padding:1em;
   position: absolute;
   font-family: 'Roboto', sans-serif;
   display: flex;
   flex-flow: wrap row;
   align-items: center;
   text-align: center;
}

#title {
   width: 100vw;
   height: 10vw;
   font-size: 6vw;
   display: flex;
   justify-content: center;
   align-items: center;
   /*border: solid black 1px;*/
}


#audioWrap {
   width: 100vw;
   height: 10vw;
   display: flex;
   justify-content: center;
   align-items: center;
   /*border: solid black 1px;*/
}

audio {
   width: 75%;
}

#searchForm {
   width: 100vw;
}

#searchText {
   width: 40vw;
   background: #F9F9F9;
}

#searchResults {
   width: 100vw;
   height: 90vw;
   border: solid black 1px;
}
