*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

html {
   width: 100vw;
   min-height: 100%;

}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



#bodyWrap {
   width: 100vw;
   min-height: 100%;
   padding:1em 2em;
   position: relative;
   font-family: 'Roboto', sans-serif;
   display: flex;
   flex-flow: wrap row;
   justify-content: center;
   align-items: center;
   /*border: solid black 1px;*/
}

#contentBeforeResults {
   width: 80vw;
   height: 90%;
   background-color: #F9F9F9;
   border-bottom: solid black 2px;
   border-right: border-bottom: solid black 1px;
   border-left: border-bottom: solid black 1px;
   border-radius: 4px;
   -webkit-animation: fadein 6s;
}

header {
   width: 100%;
   /*height: 10vw;*/
   display: flex;
   flex-flow: wrap row;
   justify-content: center;
   align-items: center;
   text-align: center;
}

h1 {
   width: 100%;
   font-size: 7vw;
   -webkit-animation: fadein 4s;
}

h3 {
   width: 100%;
   font-size:2.6vw;
   font-weight: lighter;
   -webkit-animation: fadein 7s;
   -webkit-transition-delay: 1.5s;
}

#searchForm {
   width: 100%;
   height: 10vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 2vw;
   margin-bottom: 2vw;
}

#searchInput {
   width: 40%;
   height: 60%;
   text-align: center;
   background: white;
   border-radius: 3px;
   border: 1px solid transparent;
   border-top: none;
   border-bottom: 1px solid #DDD;
   box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
   -webkit-animation: fadein 4s;
}

#submitButton {
   width: 40%;
   height: 40%;
   margin-top: 1vh;
   border-radius: 3.25px;
   border-bottom: 1.25px solid black;
   -webkit-animation: fadein 4s;

   /*border: 1px solid transparent;
   border-top: none;
   border-left: 1px solid #DDD;
   border-right: 1px solid #DDD;
   border-bottom: 2px solid #DDD;
   box-shadow: 0 1px 1.5px #ADABAE;*/

}

#submitButton:hover {
   background-color: white;
}

#submitButton:active {
   transform: translateX(1px);
   transform: translateY(1px);
   -webkit-transform: translateY(1px);
   box-shadow: 0 .5px 1px #ADABAE;
   border-bottom: 1px;
}

#audioWrap {
   width: 100%;
   /*height: 10vw;*/
   display: flex;
   justify-content: center;
   align-items: center;
   /*border: solid black 1px;*/
}

audio {
   width: 40vw;
   height: 10vw;
   padding: 2vw;
}


#searchResults {
   width: 100vw;
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   background-color: white;
   border-radius: 5px;
}

ul {
   /*width: 23vw;
   height: 23vw;*/
   margin: 1em;
   padding: 1em;
   position: relative;
   display: flex;
   flex-direction: column;
   list-style-type: none;
   text-align: center;
   line-height: 1;
   text-transform:uppercase;
   font-size: 1.5vw;
   background-color: #F9F9F9;
   border-radius: 3.25px;
   border-bottom: 1.25px solid black;
   -webkit-animation: fadein 3s;
}

/*ul:hover {
   background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/19/Musical-note-symbol-in-circular-button-outlined-symbol.svg');
}*/

li {
   flex-grow: 1;
}

.band {
   font-size: 1vw;
}

.title {
   text-transform: capitalize;
   font-size: 1.7vw;
}

.audioTrigger {
   border-radius: 4px;
}

img {
   border-radius: 3px;
}

img:hover {
   transform: scale(1.025, 1.025);
   box-shadow: 0 3px grey;
   -webkit-transform: scale(1.025, 1.025);
   -webkit-transition: all .2s ease;
}
